<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SelectedProbeId>0</SelectedProbeId>
  <ExposureTime>0</ExposureTime>
  <ErrorThreshold>0</ErrorThreshold>
  <CameraOrder>
    <Camera0>U502901</Camera0>
    <Camera1>U502902</Camera1>
    <Camera2>U502903</Camera2>
  </CameraOrder>
  <ProbeList>
    <Probe>
      <Name>Probe1</Name>
      <AngleX>0</AngleX>
      <AngleY>1</AngleY>
      <AngleZ>0</AngleZ>
      <Radius>1</Radius>
      <TCP>
        <X>0</X>
        <Y>0</Y>
        <Z>0</Z>
      </TCP>
    </Probe>
  <Probe>
      <Name>Probe2</Name>
      <AngleX>0</AngleX>
      <AngleY>1</AngleY>
      <AngleZ>0</AngleZ>
      <Radius>1</Radius>
      <TCP>
        <X>0</X>
        <Y>0</Y>
        <Z>0</Z>
      </TCP>
    </Probe>
  <Probe>
      <Name>Probe3</Name>
      <AngleX>0</AngleX>
      <AngleY>1</AngleY>
      <AngleZ>0</AngleZ>
      <Radius>1</Radius>
      <TCP>
        <X>0</X>
        <Y>0</Y>
        <Z>0</Z>
      </TCP>
    </Probe>
  </ProbeList>
  <Plane>
    <P1>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </P1>
    <P2>
      <x>1</x>
      <y>0</y>
      <z>0</z>
    </P2>
    <P3>
      <x>0</x>
      <y>1</y>
      <z>0</z>
    </P3>
  </Plane>
</Settings>